<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <!-- JDBC настройки -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/dailyquests?serverTimezone=UTC</property>
        <property name="hibernate.connection.username">dbuser</property>
        <property name="hibernate.connection.password">123</property>

        <!-- Диалект (выбери свой) -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- Автоматическое создание/обновление схемы (используй осторожно) -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Логирование SQL-запросов -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
    </session-factory>
</hibernate-configuration>